<div class="table-responsive-sm">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th cope="col">#</th>
        <th cope="col">Nombre</th>
        <th cope="col">Tipo</th>
        <th cope="col">Región</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cafe of cafes">
        <th scope="row">{{ cafe.id }}</th>
        <td>{{ cafe.nombre }}</td>
        <td>{{ cafe.tipo }}</td>
        <td>{{ cafe.region }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row" *ngFor="let tipo of totales | keyvalue">
  <div class="col" id="detallePorTipo">
    Total {{ tipo.key }}: {{ tipo.value }}
  </div>
</div>
